# Service
SERVICE_NAME=task-service-go
RELEASE_ID=local
LOG_LEVEL=debug
ROUTE_GROUP=/api/v1/task-service

# HTTP server
HTTP_SERVER_LISTEN_PORT=8888
HTTP_SERVER_KEEP_ALIVE_TIME=60s
HTTP_SERVER_KEEP_ALIVE_TIMEOUT=10s
HTTP_SERVER_READ_HEADER_TIMEOUT=10s
HTTP_SERVER_READ_TIMEOUT=10s
HTTP_SERVER_WRITE_TIMEOUT=10s
HTTP_SERVER_MAX_REQUEST_BODY_BYTES=1048576
HTTP_SERVER_IP_RATE_LIMIT=50
HTTP_SERVER_IP_RATE_BURST=100
HTTP_SERVER_IP_RATE_LIMITER_TTL=10m

# Postgres
DB_POSTGRES_DSN=host=localhost port=5432 user=user password=user_password dbname=task-service sslmode=disable
DB_POSTGRES_MAX_OPEN_CONNS=10
DB_POSTGRES_MAX_IDLE_CONNS=5
DB_POSTGRES_MAX_LIFETIME=30m
DB_POSTGRES_QUERY_TIMEOUT=5s

# Cache
CACHE_MEMORY_LIMIT_MB=100
CACHE_MEMORY_MONITOR_INTERVAL=10s

# goose (for migrations)
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=host=localhost port=5432 user=user password=user_password dbname=task-service sslmode=disable
GOOSE_MIGRATION_DIR=./db/migrations
